.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #087cef;
  border-radius: .25rem;
  transition: border-color .15s;
  margin: 10px;
  width: 110px;
}
input:nth-child(1) {
  width: 270px;
  margin-bottom: 0px;
}
input:nth-child(3) {
  width: 270px;
}
h1 {
  color: #087cef;

}
p {
  margin-top: 0px;
  margin-bottom: 1px;
  margin-right: 140px;
  text-align: center;
  
} 

#footer {
  margin-top: 200px;
  font-weight: 900;
  color: #500ff4;
}